.heading {
  font-size: 23px;
  font-weight: bold;
  text-transform: capitalize;
}

.subheading {
  opacity: 0.7;
  font-size: 14px;
  font-weight: lighter;
}

.submit-button {
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 10px !important;
}
